#element-form{
    padding: 16px;
    border: 1px solid beige;
}

.element-form-button{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 6px;
    border: 10px solid beige;
}

label{
    padding-right: 10px;
    font-weight: bold;
}

input:hover{
    background-color: black;
    color: white;
    width:auto;
}

input.descripcion{
    margin: 10px;
    height: 50px;
}

.tipoCategoria{
    width:100%;
}

.nivelUrgencia{
    width:100%;
}